.left-col{
    background-color:#555555;
    color:white;
    padding-bottom: 20px;
}
.right-col{
    padding-bottom:20px;
}
img.img-circle{
    height:300px;width:300px;
}
.about_me{
    background-color:#555555;
    color:white;
    padding-top:10px;
    padding-right:5px;
    
}